Werkzeug==2.1.2
threadpoolctl==3.1.0
sklearn==0.0
six==1.16.0
setuptools==58.1.0
scipy==1.8.1
scikit-learn==1.1.1
pytz==2022.1
python-dateutil==2.8.2
numpy==1.23.0
pandas==1.4.3
one-hot-encoder==1.1
MarkupSafe==2.1.1
joblib==1.1.0
Jinja2==3.1.2
itsdangerous==2.1.2
Flask==2.1.2
Flask-Cors==3.0.10
colorama==0.4.5
click==8.1.3
gunicorn==20.1.0
